<!doctype html>
<html lang="de" > 
<head>
<meta charset="utf-8">
<title>Zawadi</title>	
<link href="Stylesheets/Stylesheet_Index.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/x-icon" href= "FavIcon/favicon.png">
</head>
	<style> a{text-decoration: none;} </style>
<body>
	<style>
      body      { font: 16px sans-serif; line-height: 2; }
      a         { color: white; padding: none; }
      a:link    { background-color: none;
				 text-underline-position: none}
      a:visited { color: white;
		  				text-underline-position: none; 
                  background-color: none; }
    </style>
	<header>
		<h2>Zawadi</h2><br>
		<h3>Welcome</h3>
	</header>  

	
	<li class="bgAnimObj"></li>
	<li class="work_item musik" ng-repeat="project Website">
        <div class="img">
			<i style="background-image: url('Bilder/Musik/black-and-white-music-headphones-life-3104.jpg')"></i>
		</div>
        <a href="Musik.html" worktile="" class="Musik">
            <span class="project_title Musik">Musik</span>
            <span class="Logo">
				<img src="FavIcon/favicon.png" alt="Zawadi">
		</span>
       </a>
    </li>

	
	<li class="bgAnimObj_2"></li>
	<li class="work_item_Mein_Leben" ng-repeat="project_Website">
        <div class="img_2">
			<i style="background-image: url('Bilder/Mein_Leben/neon-signage-2681319_small.jpg')"></i>
		</div>
        <a href="Mein_Leben.html" worktile="" class="Mein Leben">
            <span class="project_title Mein Leben">Mein Leben</span>
            <span class="Logo">
				<img src="FavIcon/favicon.png" alt="Zawadi">
		</span>
       </a>
    </li>
	
	
	
<footer>
	<a class="link6" href="Impressum.html">Impressum</a>
</footer>	
</body>
</html>